body {
    margin: 20px;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}
.avatar {
    width: 200px;
    height: 250px
}

.card {
    width: 400px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    color: #f0ead2;
    border-bottom: 10px solid #d8cefe;
    background-color: #4f772d;
}

.dotted-border {
    border: 3px dotted #2699e5;
}

.info {
    display: flexbox;
    align-content: center;
    background-color: #6c584c;
}