body {
    margin: 20px;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}
.avatar {
    width: 200px;
    height: 250px
}

.card {
    width: 400px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    color: #f0ead2;
    background-color: #4f772d;
    box-shadow: 4px 8px 12px 2px rgba(180, 76, 240, 0.306);
}

.dotted-border {
    border: 3px dotted #d384df;
    border-bottom: 10px solid #d384df;
}

.info {
    align-content: center;
    background-color: #6c584c;
}